/*
  HISTORY:
    2016-01-24 copied admin.css from ckout.css; removed a few unused styles.
    2016-06-13 adapting for greenmine
    2017-01-28 more revisions, now that I have a page being rendered finally
*/

/* GENERAL STYLES */

body {
	background-color: #eeffee;
	background: url("/static/img/bg/bg-green-2.jpg");
	}
A:link  {
        color: #004466;
        }
A:visited {
        color: #664400;
        }
A:active {
        color: #ff0000;
        }
/* The "state-" prefix makes these easier to search for. */
.state-on {
    font-weight: bold;
    background-color: #eef;
    border: 1px solid #00f;
}
.state-active {
    font-weight: bold;
    color: #080;
}
.state-inactive {
    font-weight: normal;
    color: #f66;
    font-style: italic;
}
.error {
    color: #f00;
}
.odd {
    background: #ddf;
}
.even {
    background: #dfd;
}
.voided {
    font-style: italic;
    text-decoration: line-through;
    color: red;
}

/* PAGE ELEMENTS */

.header-block {
	display: block;
	width: 100%;
	background: #3f0;
	/*background: url("/tools/img/bg/light/");*/
	font-family: sans-serif;
	/* font-style: italic; */
	border: 1px solid black;
}
.page-title {
	font-size: 18pt;
}
/* header widgets could be anywhere; they just need to have some consistency in appearance */
.header-widgets {
	font-size: 10pt;
	width: 100%
}
/* this is "login" or "hello <username>" */
.header-login {
	float: right;
}
.section-header, .section-header-year {
	font-family: sans-serif;
	border: 1px solid black;
}
.section-header {
	display: block;
	margin-top: 1em;
        background-color: #00ff00;
	box-shadow: 5px 5px 3px 1px #0a0;
}
.section-title {
	font-size: 14pt;
}
.section-header-year {
	width: 100%;
	background-color: #006;
	color: #ffffff;
	font-size: 16pt;
	font-weight: bold;
}
.dropin-menu {
	display: block;
	border: 1px solid black;
	margin: 1em;
	padding: 1em;
	padding-left: 2em;
	background: white;
	font-size: 9pt;
	font-family: sans-serif;
	/* MENU BOX */
	float: left;
}
.menu-link-active {
	background: #af0;
	font-weight: bold;
}

/* standard components */

table.listing {
	border: 1px solid black;
	background: radial-gradient(yellow, green);
	box-shadow: 5px 5px 3px 1px #090;
}
table.listing th {
	color: #fff;
}
/*
table.listing tr.odd td {
	background: #ddf;
}
table.listing tr.even td {
	background: #dfd;
}*/

    /* messages */

.message, {
	color: black;
/*	font-size: 12pt; */
	/* font-family: verdana, arial, helvetica, sans-serif; */
/*    border: solid 5px black; */
/*    background: url('/tools/img/bg/lines/'); */
    font-family: verdana, arial, sans-serif;
    font-size: 14pt;

/* center vertically */

	position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

}
.error-message {
	border: 2px solid red;
	background: yellow;
}
.warning-message {
	border: 2px solid #ff6600;	/* a first guess - should be orange */
	background: yellow;
}
.success-message {
	border: 2px solid green;
	background: #66ff00;		/* a first guess - should be spring green */
}
/* general text content that should be readable */
.content, .content ul {		/* <ul> style seems to override this unless prefixed with .content */
	border: 1px solid black;
	background: #8ff;	/* something pleasant and neutral */
}

    /* forms */

.form-record, .form-block, .form-block-login {
	font-family: sans-serif;
	font-size: 12pt;
	
	/*background: #0a0;*/
	background: radial-gradient(#8f8, #af8);
	box-shadow: 5px 5px 3px 1px #0a0;
}
.form-block, .form-block-login {
	/* center the form */
	margin-left: auto;
	margin-right: auto;
}
.form-block-login {
	width: auto;
	
	position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}
table.form-tree tr td {
	font-family: sans-serif;
	font-size: 10pt;
	background: radial-gradient(#8f8, #af8);
}
caption {
    font-family: verdana, arial, sans-serif;
    font-size: 14pt;
    color: #fff;

        background-color: #006600;
	display: block;
	border: 1px solid black;
	box-shadow: 5px 5px 3px 1px #0a0;
}
.cell-total {
        font-style: bold;
	background-color: #ff8;
}
tr.header-year {
	background: #444466;
	color: #ffffff;
}
tr.header-month {
	background: #444466;
	color: #ffffff;
}
tr.header-day {
	background: #444466;
	color: #ffffff;
}
